[Unit]
Description=ksmbd userspace daemon
Requires=modprobe@ksmbd.service
Wants=network-online.target
After=modprobe@ksmbd.service network.target network-online.target

[Service]
Type=forking
PIDFile=/tmp/ksmbd.lock
ExecStart=/usr/local/sbin/ksmbd.mountd
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/usr/local/sbin/ksmbd.control --shutdown

[Install]
WantedBy=multi-user.target
