;******************************************************************************
; File to define cifsd configuration parameters which are comparable with
; samba's ones
;
; Supported [global] level parameters list:
;	- server string
;		This controls what string will show up in browse lists next
;		to the machine name
;	- workgroup
;		This controls what workgroup your server will appear to be
;		in when queried by clients
;	- netbios name
;		This sets the NetBIOS name by which a SMB server is known.
;		By default it is the same as the first component of the host's
;		DNS name. If a machine is a browse server or logon server this
;		name (or the first component of the hosts DNS name) will be
;		the name that these services are advertised under.
;
; Supported [share] level parameters list:
;	- comment
;		comment string to associate with the new share
;	- path
;		This parameter specifies a directory to which the user of the
;		service is to be given access.
;	- guest ok
;		If this parameter is yes for a service, then no password is
;		required to connect to the service.
;	- allow hosts
;		This parameter is a comma, space, or tab delimited set of hosts
;		which are permitted to access a service
;	- deny hosts
;		The opposite of allow hosts - hosts listed here are NOT
;		permitted access to services unless the specific services have
;		their own lists to override this one. Where the lists conflict,
;		the allow list takes precedence.
;	- valid users
;		This is a list of users that should be allowed to login to this
;		service
;	- invalid users
;		This is a list of users that should not be allowed to login to
;		this service.
;	- max connections
;		This option allows the number of simultaneous connections to
;		a service to be limited.
;	- veto files
;		This is a list of files and directories that are neither visible
;		nor accessible.
;
;		Veto any files containing the word Security,
;		any ending in .tmp, and any directory containing the
;		word root.
;		veto files = /*Security*/*.tmp/*root*/
;
;		Veto the Apple specific files that a NetAtalk server
;		creates.
;		veto files = /.AppleDouble/.bin/.AppleDesktop/Network Trash Folder/
;
;
; Rules to update this file:
;	- Every [share] definition should start on new line
;	- Every parameter should be indented with single tab
;	- There should be single spaces around equal (eg: " = ")
;	- Multiple parameters should be separated with comma
;		eg: "invalid users = usr1,usr2,usr3"
;
; Make sure to configure the server after making changes to this file.
;******************************************************************************

[global]
	netbios name = CIFSD

[homes]
	comment = content server share
	path = /tmp
